.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.menu{
  width: 20%;
  height: 100%;
}
.content-body{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 940px) {
  .content{
    flex-direction: column;
  }
  .menu{
    width: 10%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content-body{
    width: 100%;
  }
}