<div class="header">
  <h4 *ngIf="edit">Editar atendente</h4>
  <h4 *ngIf="!edit">Cadastro de atendente</h4>
</div>
<div class="body">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <mat-select [(value)]="data.idGerente" class="select">
        <mat-option *ngFor="let item of listGerente" [value]="item.value">
          {{ item.name }}
        </mat-option>
      </mat-select>
    </div>
    <div class="form-group">
      <label>Nome</label>
      <input type="text" [(ngModel)]="data.nomeAtendente" placeholder="Nome do atendente" class="form-control"
        name="nomeFornecedor" required />
    </div>
    <div class="form-group">
      <label>Porcentagem à receber</label>
      <input type="text" [(ngModel)]="data.porcentagem" (input)="onInput($event)"  placeholder="20%" class="form-control"
        name="porcentagem" required />
    </div>
    <div class="button-confirm">
      <button type="submit" class="btn btn-success">Confirmar</button>
    </div>
  </form>
  <app-loader *ngIf="loader"></app-loader>
</div>
