.header {
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  margin: 20px 0 0 0;
}

.body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form{
  width: 90%;
}

.form-group {
  width: 100%;
  margin: 20px 0 0 0;
}
.button-confirm{
  /* width: 100%; */
  display: flex;
  justify-content: space-around;
}
button{
  margin: 0 20px 0 0
}
