<div class="header">
  <h4 *ngIf="edit">Editar gerente</h4>
  <h4 *ngIf="!edit">Cadastro de gerente</h4>
</div>
<div class="body">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Nome</label>
      <input type="text" [(ngModel)]="data.nomeGerente" placeholder="Nome do gerente" class="form-control"
        name="nomeGerente" required />
    </div>
    <div class="form-group">
      <label for="email">Porcentagem à receber</label>
      <input type="text" [(ngModel)]="data.porcentagem" (input)="onInput($event)"  placeholder="20" class="form-control"
        name="porcentagem" required />

    </div>
    <div class="button-confirm">
      <button type="submit" class="btn btn-success">Confirmar</button>
    </div>
  </form>
  <app-loader *ngIf="loader"></app-loader>
</div>
