<app-layout>
  <div class="container-relatorio">
    <div class="header">
      <div class="title">
        <h1>Relatório de pagamentos realizados</h1>
      </div>
      <div class="cadastro">
        <button class="btn btn-primary" (click)="openDialog()">Adicionar Pagamento</button>
      </div>
    </div>

    <div class="body">
      <p *ngIf="listPagamentos.length == 0">Não possui relatorios de pagamentos</p>

      <div class="table-usuario" *ngIf="listPagamentos.length > 0">

        <table mat-table [dataSource]="listPagamentos" class="mat-elevation-z8">
          <ng-container matColumnDef="nomeAtendente">
            <th mat-header-cell *matHeaderCellDef> Nome atendente</th>
            <td mat-cell *matCellDef="let element"> {{element.nomeAtendente}} </td>
          </ng-container>

          <ng-container matColumnDef="nomeFornecedor">
            <th mat-header-cell *matHeaderCellDef> Fornecedor </th>
            <td mat-cell *matCellDef="let element"> {{element.nomeFornecedor}} </td>
          </ng-container>

          <ng-container matColumnDef="valorBruto">
            <th mat-header-cell *matHeaderCellDef> Valor bruto </th>
            <td mat-cell *matCellDef="let element">R$ {{element.valorBruto.toLocaleString(
              'pt-BR',
              { minimumFractionDigits: 2, maximumFractionDigits: 2 }
              ) }} </td>
          </ng-container>

          <ng-container matColumnDef="valorLiquidoAtendente">
            <th mat-header-cell *matHeaderCellDef> Valor liquido atendente </th>
            <td mat-cell *matCellDef="let element">R$
              {{element.valorLiquidoAtendente.toLocaleString(
              'pt-BR',
              { minimumFractionDigits: 2, maximumFractionDigits: 2 }
              ) }}
            </td>
          </ng-container>

          <ng-container matColumnDef="valorLiquidoFornecedor">
            <th mat-header-cell *matHeaderCellDef> Valor liquido fornecedor </th>
            <td mat-cell *matCellDef="let element">R$ {{element.valorLiquidoFornecedor.toLocaleString(
              'pt-BR',
              { minimumFractionDigits: 2, maximumFractionDigits: 2 }
              ) }} </td>
          </ng-container>

          <ng-container matColumnDef="metodoPagamento">
            <th mat-header-cell *matHeaderCellDef> Método pagamento </th>
            <td mat-cell *matCellDef="let element"> {{element.metodoPagamento}} </td>
          </ng-container>

          <ng-container matColumnDef="statusPagamento">
            <th mat-header-cell *matHeaderCellDef> Status pagamento </th>
            <td mat-cell *matCellDef="let element"> {{element.statusPagamento}} </td>
          </ng-container>

          <ng-container matColumnDef="dataVenda">
            <th mat-header-cell *matHeaderCellDef> Data venda </th>
            <td mat-cell *matCellDef="let element"> {{formatarDataTable(element.dataVenda)}} </td>
          </ng-container>

          <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef> Ações </th>
            <td mat-cell *matCellDef="let element"><img src="assets/icons/edit.svg"
                (click)="editarFornecedor(element)" />
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      </div>

    </div>
    <div class="footer">
      <mat-paginator class="paginacao" [pageIndex]="pagination.pageNumber - 1" [pageSize]="pagination.pageSize"
        [pageSizeOptions]="[5, 10, 25]" [length]="pagination.qtPages" aria-label="Select page" (page)="getPage($event)">
      </mat-paginator>
    </div>
  </div>
</app-layout>
