
.login{
  width: 100%;
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}
.login-container{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-login{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-group{
  width: 70%;
}
.image-container {
  width: 60%;
  height: 100%;
  /* background-color: $grey-color; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
img{
  width: 50%;
  height: 100%;
}
.checkbox-container{
  margin: 10px 0 20px 0;
}
button{
  width: 100%;
}
.forgot-password{
  cursor: pointer;
}
@media screen and (max-width: 940px) {
  .login {
    flex-direction: column;
  }

  .image-container {
    display: none;
  }
  .login-container{
    width: 100%;
  }
  .form-group{
    width: 100%;
  }

}
