<app-layout>
  <div class="container">
    <div class="header">
      <img src="assets/icons/back.svg" (click)="goTo('usuario')">
      <h1>Cadastro de Usuário</h1>
    </div>
    <div class="body">
      <form class="form" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="username">Nome completo</label>
          <input type="text" id="nome" [(ngModel)]="model.nomeUsuario" name="nome" class="form-control"
            placeholder="Digite o nome completo" required />
        </div>

        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" id="email" [(ngModel)]="model.email" placeholder="Digite seu email" class="form-control"
            name="email" required />
        </div>

        <div class="form-group">
          <label for="telefone">Telefone</label>
          <input type="telefone" id="telefone" [(ngModel)]="model.telefone" placeholder="Digite seu telefone"
            class="form-control" name="telefone"  />
        </div>

        <div class="button-cadastro">
          <button type="submit" class="btn btn-success"
            [disabled]="model.email == '' || model.nomeUsuario == '' ? true : false">
            Cadastrar usuário
          </button>
        </div>
      </form>


    </div>
  </div>
</app-layout>
