<app-layout>
  <div class="container">
    <div class="d-flex justify-content-center align-items-center mt-4">
      <h1>Ranking atendente</h1>
    </div>
    <div class="col d-flex flex-column justify-content-center align-items-center conteiner">
      <ol class="olcards">
        <li *ngFor="let card of cards" [style.--cardColor]="card.color">
          <div class="content">
            <!-- <div class="icon">{{ card.icon }}</div> -->
            <div class="title">{{ card.nomeAtendente }}</div>
            <div class="text">R$ {{ card.totalAtendente }}</div>
          </div>
        </li>
      </ol>
    </div>
  </div>
</app-layout>
