<div class="header">
  <h4 *ngIf="!edit">Adicionar pagamentos</h4>
  <h4 *ngIf="edit">Editar pagamentos</h4>
</div>
<div class="body">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Data da venda *</label>
      <input type="date" [(ngModel)]="data.pagamento.dataVenda"  class="form-control"
        name="dataVenda" required />
    </div>
    <div class="form-group">
      <label>Atendente</label>
      <input class="select" [matAutocomplete]="auto" [(ngModel)]="data.pagamento.nomeAtendente"
        (ngModelChange)="onChangeAtendente($event)" [ngModelOptions]="{standalone: true}" />

      <mat-autocomplete class="select" #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onOptionSelected($event)">
        <mat-option *ngFor="let item of atendenteSelectFiltrado" [value]="item">
          {{ item.name }}
        </mat-option>
      </mat-autocomplete>
    </div>
    <!-- <div class="form-group">
      <label>Atendente *</label>
      <mat-select class="select" [(value)]="data.pagamento.idAtendente">
        <mat-option *ngFor="let item of data.atendenteSelect" [value]="item.value">
          {{ item.name }}
        </mat-option>
      </mat-select>
    </div> -->
    <div class="form-group">
      <label>Fornecedor *</label>
      <mat-select class="select" [(value)]="data.pagamento.idFornecedor">
        <mat-option *ngFor="let item of data.fornecedorSelect" [value]="item.value">
          {{ item.name }}
        </mat-option>
      </mat-select>
    </div>
    <div class="form-group">
      <label>Método de pagamento *</label>
      <mat-select class="select" [(value)]="data.pagamento.idMetodoPagamento">
        <mat-option *ngFor="let item of data.metodoPagamento" [value]="item.value">
          {{ item.name }}
        </mat-option>
      </mat-select>
    </div>
    <div class="form-group">
      <label>Status pagamento *</label>
      <mat-select class="select" [(value)]="data.pagamento.idStatusPagamento">
        <mat-option *ngFor="let item of data.statusPagamento" [value]="item.value">
          {{ item.name }}
        </mat-option>
      </mat-select>
    </div>
    <div class="form-group">
      <label>Valor R$ *</label>
      <input type="text" [ngModel]="data.pagamento.valorBruto" (ngModelChange)="FormatarValorExibicao($event)"  placeholder="20%" class="form-control"
        name="valorBruto" required />
    </div>
    <div class="button-confirm">
      <button type="submit" class="btn btn-success">Confirmar</button>
    </div>
  </form>
  <app-loader *ngIf="loader"></app-loader>
</div>
