<app-layout>
  <div class="container-fluid">
    <div class="d-flex justify-content-center align-items-center mt-4">
      <h1>Gráfico Mensal Dia</h1>
    </div>
    <div class="col d-flex justify-content-center align-items-center" *ngIf="barChartData.datasets[0].data.length == 0">
      <h2 class="text-center">Não possui vendas realizada neste mês</h2>
    </div>
    <div class="row d-flex justify-content-center align-items-center" *ngIf="barChartData.datasets[0].data.length > 0">
      <div class="col-12 col md-6 d-flex justify-content-center">
        <canvas baseChart [data]="barChartData" [options]="barChartOptions" [type]="'bar'">
        </canvas>
      </div>
    </div>
    <app-loader *ngIf="loader"></app-loader>
  </div>
</app-layout>
