.container-relatorio {
  width: 100%;
  height: 90%;
}

.header {
  height: 15%;
  width: 90%;
  display: flex;
  align-items: center;
}

.filtro{
  display: flex;
  width: 100%;
  justify-content: center;
  /* height: 60px; */
}

.title {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.form-group-filtro{
  margin: 0 40px 0 0
}
.body {
  width: 100%;
  height: 70%;
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  overflow-y: auto;
}

.footer{
  width: 85%;
  /* padding: 50px 0 0 0; */
  /* height: 15%; */
  display: flex;
  align-items: flex-end;
  justify-content: end;
}
.total-valor{
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px 0 0
}
.table-usuario {
  width: 90%;
}

img {
  cursor: pointer;
}
th{
  font-weight: 600;
  font-size: 16px;
}
th, td{
  text-align: center;
}

.valor-bruto{
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
label{
  font-weight: 600;
}

@media screen and (max-width: 940px) {
  .container-relatorio {
    height: 100%;
    overflow-y: auto;
  }

  .header {
    flex-direction: column;
    width: 100%;
  }

  .title {
    width: 100%;
  }
  .filtro{
    margin: 0 0 0 20px;
    flex-direction: column;
    width: 90%;
    /* height: 60px; */
  }
  .cadastro {
    display: flex;
    width: 50%;
    justify-content: end;
    align-items: flex-end;
    height: 60px;
  }
  .body{
    overflow-y: auto;
  }
  .footer {
    width: 100%;
    /* height: 15%; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    margin: 20px 0 20px 0;
  }
  .valor-bruto {
    width: 50%;
    height: auto;
    display: flex;
    margin: 0 0 0 10px;
    align-items: flex-start;
    justify-content: start;
  }
  .total-valor{
    margin: 0 0 0 10px;
  }
}
