.container-pdf {
  width: 100%;
  height: 70%;
  /* margin: 20px 0 0 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  overflow-y: auto;
}
.filtro{
  display: flex;
  width: 100%;
  justify-content: center;
  /* height: 60px; */
}
.footer{
  width: 85%;
  /* padding: 50px 0 0 0; */
  /* height: 15%; */
  display: flex;
  align-items: flex-end;
  justify-content: end;
}
.total-valor{
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
}
.table-usuario {
  width: 90%;
}

img {
  cursor: pointer;
}
th{
  font-weight: 600;
  font-size: 16px;
}
th, td{
  text-align: center;
}
