@import 'ngx-toastr/toastr';


.select {
  display: block;
  align-items: center;
  width: 100%;
  border-radius: 4px;
  padding: .375rem .75rem;
  border: 1px solid #E2E8F0;
  font-size: 1rem;
  font-weight: 400;
  background: white;
  /* padding: 0 10px; */
  line-height: 1.5;
  letter-spacing: 0em;
  text-align: left;
}



