.div-grafico {
  height: 400px;
  width: 350px;
}

.div-grafico-barras {
  height: 400px;
  width: 700px;
}

canvas {
  /* width: 80%; */
  max-height: 90% !important;
  /* padding: 20px 10px 20px 10px; */
}

@media screen and (max-width: 940px) {
  .container{
    overflow: auto;
  }

  .div-grafico-barras{
    width: 100%;
  }
}
