<div class="icon-mobile-menu">
  <img src="assets/icons/menu-black.svg" (click)="toggleMenu()" />
</div>
<div class="menu-container" [class.open]="isMenuOpen">
  <div class="icon-mobile-menu">
    <img src="assets/icons/menu-white.svg" (click)="toggleMenu()" />
  </div>
  <div class="menu-header">
    <h1 (click)="goTo('home')">Team Work</h1>
  </div>
  <div class="menu-body">
    <mat-accordion>
      <div class="menu-items margin-bottom">
        <div class="item-content">
          <p class="menu-content-text" (click)="goTo('usuario')">
            Usuário
          </p>
        </div>
      </div>
      <div class="menu-items margin-bottom">
        <div class="item-content">
          <p class="menu-content-text" (click)="goTo('cadastro/fornecedor')">
            Fornecedor
          </p>
        </div>
      </div>
      <div class="menu-items margin-bottom">
        <div class="item-content">
          <p class="menu-content-text" (click)="goTo('cadastro/gerente')">
            Gerente
          </p>
        </div>
      </div>
      <div class="menu-items margin-bottom">
        <div class="item-content">
          <p class="menu-content-text" (click)="goTo('cadastro/atendente')">
            Atendente
          </p>
        </div>
      </div>
      <mat-expansion-panel class="accordeon not-selected margin-bottom">
        <mat-expansion-panel-header>
          <mat-panel-title class="accordeon-title">
            <p class="accordeon-text">
              Relatórios
            </p>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p class="accordeon-content" (click)="goTo('relatorio/pagamento')">
          Pagamentos
        </p>
        <p class="accordeon-content" (click)="goTo('relatorio/balancete')">
          Gerar Balancete
        </p>

      </mat-expansion-panel>
     
    </mat-accordion>
    
  </div>
  <div class="menu-items margin-bottom">
    <div class="item-content">
      <p class="menu-content-text" (click)="logout()">
        Sair
      </p>
    </div>
  </div>
</div>
